.map {
  height: 500px;
  width: 1000px;
}
p.lead {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #4169E1;
}
b.lead {
  font-size: 70px;
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #0074D9;
}
c.lead {
  font-size: 30px;
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #0074D9;
}
